* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 100%;
    width: 183px;
    height: 179px;
    object-fit: cover;
    filter: contrast(100%);
}

.container-direita {
    background-color: #F57EB6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-esquerda{
    padding-left: 80px;
}

.containerr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#titulo {
    font-weight: lighter;
    font-size: 35px;
}

#titulo2 {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.container-direita span {
    color: white;
}

#btn-entrar {
    text-decoration: none;
    border: #ffffff solid 1px;
    background-color: #F57EB6;
    border-radius: 20px;
    width: 218px;
    height: 41px;
}

#btn-entrar {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#subtitulo1 {
    font-size: 25px;
}

#linha1 {
    border: #ff0077 solid 1px;
    width: 550px;
}

#subtitulo2 {
    font-size: 25px;
}

#linha2 {
    border: #ff0077 solid 1px;
    width: 550px;
}

.containerr label {
    font-size: 15px;
    font-weight: bold;
}

.containerr input {
    width: 537px;
    border: rgb(119, 119, 119) solid 1px;
    border-radius: 15px;
}

#btn-criar {
    border-radius: 20px;
    background-color: #F57EB6;
    border: none;
    color: white;
    width: 218px;
    height: 41px;
    font-weight: bold;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F57EB6;
}