* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 100%;
    width: 183px;
    height: 179px;
    object-fit: cover;
    filter: contrast(100%);
}

.container-direita {
    background-color: #F57EB6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
}

.containerr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#titulo {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 5px;
}

#titulo2 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: 40px;
}

.container-direita span {
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

#btn-entrar {
    text-decoration: none;
    border: #ffffff solid 1px;
    background-color: #F57EB6;
    border-radius: 20px;
    width: 218px;
    height: 41px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
}

#subtitulo1 {
    font-size: 25px;
}

#linha1 {
    border: #ff0077 solid 1px;
    width: 535px;
    margin-bottom: 30px;
}

#subtitulo2 {
    font-size: 25px;
}

#linha2 {
    border: #ff0077 solid 1px;
    width: 535px;
}

.containerr label {
    font-size: 15px;
    font-weight: bold;
}

.containerr input {
    width: 537px;
    border-color: #a3a3a3;
    border-radius: 15px;
}

#btn-criar {
    border-radius: 20px;
    background-color: #F57EB6;
    border: none;
    color: white;
    width: 218px;
    height: 41px;
    font-weight: bold;
    margin-left: 150px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #F57EB6;
}

.mb-3 h6 {
    font-weight: bold;
    font-size: 15px;
}

#span1 {
    margin-top: 20px;
}