@media (min-width: 991px) {

    body.no-scroll {
        overflow: hidden;
    }

    .container-carrinho-compra {
        display: flex;
        width: 100vw;
        justify-content: end;
    }

    #carrinho-compras {
        display: block;
        height: 100vh;
        width: 0;
        background-color: white;
        position: absolute;
        z-index: 10;
        top: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    #carrinho-compras.open {
        visibility: visible;
        width: 30%;
    }

    #background {
        display: flex;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    #background.open {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.459);
    }

    .imagem-carrinho img {
        border-radius: 20px;
        object-fit: cover;
        width: 113px;
        height: 98px;
    }

    .nome-produto {
        font-weight: 600;
        color: black;
    }

    .valor-carrinho {
        font-weight: 900;
    }

    .btn-deleta-produto i {
        color: red;
    }

    .list-group-item {
        list-style: none;
        border: none;
        margin: 0px;
    }

    .header-carrinho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f57eb6;
        height: 87px;
    }

    .header-carrinho h4 {
        color: white;
        font-weight: 700;
        margin-left: 20px;
    }

    #btn-fechar-carrinho {
        border: none;
        background-color: #f57eb6;
    }

    .fa-circle-xmark {
        color: white;
        font-size: 25px;
        margin-right: 20px;
    }

    .produto-carrinho {
        display: flex;
        justify-content: space-around;
    }

    hr {
        background-color: #ff0077;
    }

    .btn-esvaziar input {
        background-color: white;
        width: 470px;
        height: 57px;
        font-size: 17px;
        font-weight: bold;
        border-radius: 10px;
        border-color: red;
        color: red;
    }

    .finalizar-compra button {
        background-color: #F57EB6;
        border: none;
        border-radius: 10px;
        width: 470px;
        height: 57px;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }

    .carrinho-footer hr {
        width: 450px;
        margin-left: 5px;
    }

    .carrinho-footer {
       margin-left: 40px;
    }
}