.produtos-lista {
    list-style: none;
    margin-top: 2%;
    margin-left: 7%;
}

#h2-revisao {
    margin-top: 4%;
    margin-left: 10%;
}

.produto-revisao {
    display: flex;
}

.info-revisao {
    display: flex; 
    align-items: center;
    gap: 300px;
}

.imagem img {
    border-radius: 20px;
    object-fit: cover;
    width: 159px;
    height: 138px;
}

#linha-revisao{
    margin-right: 25%;
}

.nome-produto-revisao span{
    margin-left: 50%;
}

.endereco-total{
    display: flex;
    justify-content: space-around;
}