.container-imagem img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.container-produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-direita {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.nome-produto h2 {
    margin: 0%;
    font-size: 30px;
    font-weight: 700;
}

footer {
    bottom: 0;
    width: 100%;
}

.valor-produto {
    font-size: 25px;
    font-weight: bold;
}

.btn-adicionar {
    border: #ffffff solid 1px;
    background-color: #F57EB6;
    border-radius: 20px;
    width: 218px;
    height: 41px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.descricao-produto {}