.container-info img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.info-produtos {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.container {
    display: flex;
}

.container-info {
    display: grid;
    align-items: center;
    flex: 1;
    padding: 10px;
    margin: 5px;
    align-content: space-between;
}

footer {
    bottom: 0;
    width: 100%;
}

.valor-produto {
    font-size: 25px;
    font-weight: bold;
}

.produto-nome h2{
    font-weight: bold;
    font-size: 30px;
}

.container-info h5{
    font-size: 20px;
    font-weight: bold;
    color: #F57EB6;
}

.container-info hr{
    height: 5px;
    background-color: #ff0077;
}

.btn-adicionar {
    border: #ffffff solid 1px;
    background-color: #F57EB6;
    border-radius: 20px;
    width: 558px;
    height: 57px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
