header {
    background-color: #F57EB6;
}

.logo {
    border-radius: 50%;
    width: 84px;
    height: 82px;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 472px;
}
 
.input-wrapper {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #c7c4c4;
    border-radius: 16px;
}

.input-wrapper,
i {
    color: #F57EB6;
    cursor: pointer;
}

.input-wrapper,
input {
    background-color: transparent;
    border: none;
    color: black;
}